<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!-- Semantics and JQuery -->
    <link rel="stylesheet" type="text/css" href="libraries/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="libraries/semantic/dist/semantic.min.js"></script>

    <!--Generic stylesheet-->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!--Page specific stylesheet-->
    <link href="stylesheets/index.css" rel="stylesheet">

    <!--Page specific javascripts-->
    <script src="javascripts/index.js"></script>
</head>
<body id="custom">
<div class="ui text menu paddled" style="z-index: 101">
    <a class="item">
        <img src="pictures/logo_cn.png"/>
    </a>
    <div class="item">
        庄重地慢慢老去
    </div>
    <a class="right item">
        了解失忆症
    </a>
    <a class="item">
        日志分享
    </a>
    <a class="item">
        订阅推送
    </a>
    <a class="item">
        联系我们
    </a>
    <div class="ui dropdown item">
        更多
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">关于我们</div>
            <div class="item">提供帮助</div>
            <div class="item">投稿</div>
        </div>
    </div>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="搜索...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
<div class="full_screen_container nav_offset" style = 'background-image: url("pictures/elderly_couple_rain.jpg");
                                                       text-align : center;
                                                       background-attachment: fixed'>
    <div style="margin-top : 12vw">
        <img src="pictures/logo_cn.png"/>
    </div>
    <h1 class="theme_font_color">关爱 分享 理性 坚持</h1>
    <h3 class="theme_font_color de_bold">失忆症亲历者与看护人员的小小驿站</h3>
    <div class="ui vertical black basic animated button borderless massive theme_font_color" tabindex="0"
    style="margin-top : 5vw;">
        <div class="hidden content">
            <i class="angle double down icon"></i>
        </div>
        <div class="visible content">
            <i class="angle double down icon"></i>
        </div>
    </div>
</div>
<div id="guides" class="theme_background content_padding" style="text-align: center">
    <div class="ui equal width center aligned three stackable padded grid">
        <a class="teal column">
            <h1>认识失忆症</h1>
            <p>老糊涂了就跟感冒发烧一样，是疾病的症状</p>
            <img class="image" src="pictures/old_notes_and_glasses.jpg"/>
        </a>
        <a class="blue column">
            <h1>什么是阿兹海默</h1>
            <img class="image" src="pictures/computer_doctor.jpg"/>
            <p>老年痴呆病有一个更专业的名字，叫做阿兹海默</p>
        </a>
        <a class="violet column">
            <img class="image" src="pictures/alzheimer_and_caregiver.jpg"/>
            <h1>阿兹海默的常见表现</h1>
            <p>许多看似古怪的反应其实往往是阿兹海默病在作祟，明白了这些表现，就能更容易得与病人相处</p>
        </a>
    </div>
    <hr class="invisible_hr margin">
    <button class="ui button">更多信息</button>
    <hr class="margin">
    <div class="ui equal width center aligned three stackable grid theme_font_color">
        <div class="column">
            <p>Test</p>
        </div>
        <div class="column">
            <p>Test</p>
        </div>
        <div class="column">
            <p>Test</p>
        </div>
    </div>
    <hr class="margin">
</div>

<div class="half_screen_container" style = 'background-image: url("pictures/typewriter.jpg");
                                                       text-align : center;
                                                       background-attachment: fixed'>
    <h1 class="title" style="color : white; margin-top : 10vw">日志分享</h1>
</div>
<div class="theme_background content_padding">
    <div class="ui equal width four stackable grid">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="pictures/typewriter.jpg">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        22
                        <i class="thumbs outline up icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="pictures/typewriter.jpg">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        3
                        <i class="thumbs outline up icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="pictures/typewriter.jpg">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        5
                        <i class="thumbs outline up icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="pictures/typewriter.jpg">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        231
                        <i class="thumbs outline up icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="half_screen_container" style="background : black"></div>
</body>
</html>