<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!-- Semantics and JQuery -->
    <link rel="stylesheet" type="text/css" href="libraries/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="libraries/semantic/dist/semantic.min.js"></script>

    <!--Generic stylesheet-->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!--Page specific stylesheet-->
    <link href="stylesheets/index.css" rel="stylesheet">

    <!--Page specific javascripts-->
    <script src="javascripts/index.js"></script>
</head>
<body id="custom">
<div class="ui text menu paddled" style="z-index: 101">
    <a class="item">
        <img src="pictures/logo_cn.png"/>
    </a>
    <div class="item">
        庄重地慢慢老去
    </div>
    <a class="right item">
        日志
    </a>
    <a class="item">
        图片故事
    </a>
    <a class="item">
        订阅推送
    </a>
    <a class="item">
        联系我们
    </a>
    <div class="ui dropdown item">
        更多
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">关于我们</div>
            <div class="item">提供帮助</div>
            <div class="item">投稿</div>
        </div>
    </div>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="搜索...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
<div class="full_screen_container nav_offset" style = 'background-image: url("pictures/elderly_couple_rain.jpg");
                                                       text-align : center;'>
    <div class="ui vertical black basic animated button borderless massive" tabindex="0"
    style="margin-top : 45vw;
    color : rgba(0,0,0,0.87)">
        <div class="hidden content">向下滚动</div>
        <div class="visible content">
            <i class="angle double down icon"></i>
        </div>
    </div>
</div>
</body>
</html>